body {
    font-family: Sans-Serif;
    background-color: #f7f7f7;
}

.order-table th {
    background-color: #fafafa;
    font-weight: 600;
}

.order-header__date input {
    padding: 8.5px 14px;
    padding-right: 0;
}

.order-header__amount {
    pointer-events: none;
}

.order-header__status {
    min-width: 250px;
    pointer-events: none;
}

.order-header__status .MuiTypography-root {
    display: flex;
    justify-content: space-between;
    line-height: 1;
}

.order-header__status .MuiTypography-root span:first-of-type {
    font-size: 0.75rem;
}

.order-header__status .MuiSlider-root {
    padding: 0;
}

.order-header__status .MuiSlider-thumb {
    display: none;
}

.order-header__status .MuiSlider-rail {
    height: 6px;
    background-color: #c7c7c7;
}

.order-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
}
.order-modal h5 {
    margin-top: 20px;
}