body {
    font-family: Sans-Serif;
    background-color: #f7f7f7;
}

.app-bar {
    margin-bottom: 2rem;
}
  
.app-bar a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

.app-bar .active {
    text-decoration: underline;
}